.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image {
  height: 150px;
  width: 150px;
}

.home-text {
  color: #6d396b;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 22px;
}
